
.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project {
  width: 100%;
}

.card-columns {
  @media (min-width: 576px) {
    column-count: 2 !important;
  }
  @media (max-width: 576px) {
    column-count: 1 !important;
  }
}